button{
    display: block;
    margin: 20px auto;
    height: 40px;
    min-width:320px;
    border: none;
    border-radius: 5px;
    background-color: #7f00ff;
    color:azure;
    cursor: pointer;

}button:hover{
    opacity:0.6;
}